body{
    margin: 0;
    padding-top: 800px
}
.profile{
    width: 175px;
    margin-bottom: 50px;
    border-radius: 50%;
}
#welcome{
    position: absolute;
    height: 800px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: linear-gradient(#03fca5 20%, #0362fc 100%);
    width: 100%;
    height: 100%;
    text-align: center;
    z-index: 9;
}
h1{
    font-size: 40px;
    font-family: cursive;
    font-weight: 300;
}
#name{
    font-size: 30px;
    font-family: 'Akaya Telivigala', cursive;
}
h2{
    font-size: 30px;
    font-family: serif;
}
#bio{
    padding: 50px;
    text-align: center;
    font-size: 42px;
    background: linear-gradient(#fc03ca 30%, #8403fc 100%);
}
P{
    font-size: 30px;
    color: aqua;
}
.menu{
    list-style: none;
    font-family: serif;
    position: absolute;
    top: 10px;
    right: 30px;
    cursor: pointer;
    z-index: 10;
}
.links{
    float: left;
    color: darkblue;
    padding-top: 5px;
    padding-left: 9px;
    padding-bottom: 5px;
    padding-right: 9px;
    font-family: serif;
    font-size: 20px;
}
.links:hover{
    background-color: darkseagreen;
}
a{
    text-decoration: none;
}
.article:hover{
    color: red;
}
html{
    scroll-behavior: smooth;
}